    .checkshit{
        -webkit-tap-highlight-color: transparent;
--color-background: #F2F6FA;
--color-surface: #FFFFFF;
--color-surface-accent: #FBFDFF;
--color-secondary: #425060;
--color-secondary-medium: #536579;
--color-secondary-dark: #303B47;
--color-secondary-light: #F2F6FA;
--color-confirm: #54BD7E;
--color-editor: #F0734F;
--color-danger: #FB6669;
--color-danger-dark: #dc060a;
--color-warning: #FFE64D;
--color-info: #1F91D6;
--color-notification: #FB6669;
--color-on-primary: #FFFFFF;
--color-on-secondary: #F2F6FA;
--color-on-secondary_accent: #8798AC;
--color-on-secondary-medium: #FFFFFF;
--color-on-secondary-dark: #8798AC;
--color-on-secondary-dark_accent: #F2F6FA;
--color-on-secondary-light: #425060;
--color-on-secondary-light_accent: #647a93;
--color-on-secondary-light_border: #E9EAEB;
--color-on-secondary-light_button: #5E7288;
--color-on-confirm: #FFFFFF;
--color-on-editor: #FFFFFF;
--color-on-danger: #FFFFFF;
--color-on-warning: #806e00;
--color-on-info: #FFFFFF;
--color-on-notification: #FFFFFF;
--color-beta-background: #f7f8f9;
--color-beta-surface: #ffffff;
--color-beta-surface-nav: #ffffff;
--color-beta-surface-accent: #f7f8f9;
--color-beta-secondary: #f7f8f9;
--color-beta-secondary-dark: #415574;
--color-beta-secondary-light: #fafbfb;
--color-beta-secondary-lightest: #ffffff;
--color-beta-secondary-focus: #ffffff;
--color-beta-secondary-off: #c8ced7;
--color-beta-secondary-disabled: #f1f2f4;
--color-beta-secondary-disabled-dark: #e0e4e8;
--color-beta-tertiary: #a3adbb;
--color-beta-scrollbar: rgba(0, 0, 0, 0.4);
--color-beta-primary: #54bd7e;
--color-beta-primary-light: #e0ffec;
--color-beta-active: #54bd7e;
--color-beta-active-disabled: #baf5d2;
--color-beta-active-hover: #8ce2ae;
--color-beta-editor: #f0734f;
--color-beta-editor-light: #ffcbbb;
--color-beta-editor-light-toggle: #ffddd4;
--color-beta-success: #36ab80;
--color-beta-success-light: #f5fbf8;
--color-beta-warning: #f7af22;
--color-beta-warning-light: #fefaf1;
--color-beta-danger: #f4541d;
--color-beta-danger-light: #fef6f3;
--color-beta-info: #0484fe;
--color-beta-info-light: #eef7ff;
--color-beta-highlight: #dceeff;
--color-beta-tooltip: #031f47;
--color-beta-tooltip-light: #324769;
--color-beta-overlay: #0a1f4429;
--color-beta-overlay-light: #0a1f440A;
--color-beta-overlay-dark: #0a1f4452;
--color-beta-on-primary: #ffffff;
--color-beta-on-surface_dark: #031f47;
--color-beta-on-surface_medium: #415574;
--color-beta-on-surface_light: #6E7D94;
--color-beta-on-surface_disabled: #a3adbb;
--color-beta-on-surface-accent_dark: #031f47;
--color-beta-on-surface-accent_medium: #415574;
--color-beta-on-surface-accent_light: #6E7D94;
--color-beta-on-surface-accent_disabled: #a3adbb;
--color-beta-on-secondary_dark: #031f47;
--color-beta-on-secondary_medium: #415574;
--color-beta-on-secondary_light: #6E7D94;
--color-beta-on-secondary_disabled: #a3adbb;
--color-beta-on-secondary-light_dark: #031f47;
--color-beta-on-secondary-light_medium: #415574;
--color-beta-on-secondary-light_light: #6E7D94;
--color-beta-on-secondary-light_disabled: #a3adbb;
--color-beta-on-secondary-lightest_dark: #031f47;
--color-beta-on-secondary-lightest_medium: #415574;
--color-beta-on-secondary-lightest_light: #6E7D94;
--color-beta-on-secondary-lightest_disabled: #a3adbb;
--color-beta-on-secondary-dark_dark: #FFFFFF;
--color-beta-on-secondary-dark_medium: #FFFFFF;
--color-beta-on-secondary-dark_light: #FFFFFF;
--color-beta-on-secondary-dark_disabled: #a3adbb;
--color-beta-on-tertiary: #ffffff;
--color-beta-on-active: #ffffff;
--color-beta-on-editor: #ffffff;
--color-beta-on-editor-light: #f0734f;
--color-beta-on-editor-light-toggle: #f0734f;
--color-beta-on-success: #ffffff;
--color-beta-on-success-light: #36ab80;
--color-beta-on-warning: #ffffff;
--color-beta-on-warning-light: #f7af22;
--color-beta-on-danger: #ffffff;
--color-beta-on-danger-light: #f4541d;
--color-beta-on-info: #ffffff;
--color-beta-on-info-light: #0484fe;
--color-beta-on-notification: #ffffff;
--color-beta-on-tooltip: #ffffff;
--color-beta-on-tooltip-light: #ffffff;
--color-beta-separator: #e0e4e8;
--color-beta-on-primary_border: #168642;
--color-beta-on-scrollbar_border: #000000;
--color-beta-on-surface_border: #e0e4e8;
--color-beta-on-surface-accent_border: #e0e4e8;
--color-beta-on-secondary_border: #e0e4e8;
--color-beta-on-secondary-light_border: #c8ced7;
--color-beta-on-secondary-focus_border: #0484fe;
--color-beta-on-editor_border: #bf4e2d;
--color-beta-on-editor-light-toggle_border: #ff9070;
--color-beta-on-editor_overlay: #bf4e2d;
--color-beta-on-editor-light_border: #f0734f;
--color-beta-on-success_border: #22825f;
--color-beta-on-success-light_border: #36ab80;
--color-beta-on-warning_border: #f69d2c;
--color-beta-on-warning-light_border: #f7af22;
--color-beta-on-danger_border: #d13a08;
--color-beta-on-danger-light_border: #f4541d;
--color-beta-on-info_border: #036dd6;
--color-beta-on-info-light_border: #0484fe;
--color-beta-surface-environment-development: #fef6f3;
--color-beta-surface-environment-unknown: #FBF2FF;
--color-beta-surface-environment-test: #fefaf1;
--color-beta-surface-environment-sandbox: #FBFDF4;
--color-beta-surface-environment-acceptance: #f5fbf8;
--color-beta-surface-environment-staging: #ECFBFF;
--color-beta-surface-environment-pre-production: #eef7ff;
--color-beta-surface-environment-production: #f7f8f9;
--color-beta-on-surface-environment-development: #f4541d;
--color-beta-on-surface-environment-unknown: #B100FF;
--color-beta-on-surface-environment-test: #f7af22;
--color-beta-on-surface-environment-sandbox: #91AB66;
--color-beta-on-surface-environment-acceptance: #36ab80;
--color-beta-on-surface-environment-staging: #0ECDF4;
--color-beta-on-surface-environment-pre-production: #0484fe;
--color-beta-on-surface-environment-production: #6E7D94;
--color-beta-on-surface-icon-environment-development: #f4541d;
--color-beta-on-surface-icon-environment-unknown: #B100FF;
--color-beta-on-surface-icon-environment-test: #f7af22;
--color-beta-on-surface-icon-environment-sandbox: #91AB66;
--color-beta-on-surface-icon-environment-acceptance: #36ab80;
--color-beta-on-surface-icon-environment-staging: #0ECDF4;
--color-beta-on-surface-icon-environment-pre-production: #0484fe;
--color-beta-on-surface-icon-environment-production: #54bd7e;
font-weight: 400;
-webkit-font-smoothing: antialiased;
font-family: proximanova-regular,"Helvetica Neue",Helvetica,sans-serif;
font-size: 14px;
--color-primary: #4285f4;
--color-primary-darkest: #062d6e;
--color-primary-darker: #0b51c5;
--color-primary-dark: #2a75f3;
--color-primary-lightest: #ffffff;
--color-primary-lighter: #ecf2fd;
--color-primary-light: #72a4f7;
--color-primary-100: #cfe6fe;
--color-primary-200: #b2d3f9;
--color-primary-300: #94bdf3;
--color-primary-400: #78a6e9;
--color-primary-500: #5d8edd;
--color-primary-600: #4576ce;
--color-primary-700: #4285f4;
--color-primary-800: #1e49ab;
--color-primary-900: #113596;
cursor: pointer;
border-collapse: collapse;
border-spacing: 0;
box-sizing: border-box;
margin: 0;
padding: 0;
border-style: solid;
border-width: 2px;
border-radius: 2px;
display: flex;
justify-content: center;
align-items: center;
color: var(--color-beta-on-warning);
width: 16px;
min-width: 16px;
height: 16px;
min-height: 16px;
border-color: var(--color-beta-secondary-off);
background-color: transparent;
    }